@import-normalize; /* bring in normalize.css styles */

:root {
  --primary-text-color: #333333;
  --main-accent-color: #28a745;
  --secondary-accent-color: #0284d0;

  --secondary-text-color: #ffffff;
  --primary-background-color: #f4f4f4;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
