.section {
  width: 320px;
  margin: 0 auto;
  background-color: var(--main-accent-color);
  color: var(--secondary-text-color);
}
.container {
  padding: 80px 20px 80px 20px;
}
.solutionImage {
  width: 100%;
  height: 100%;
}
.solutionString {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(22 / 16);

  margin-bottom: 16px;
}
.solutionHeader {
  font-weight: 400;
  font-size: 32px;
  line-height: calc(44 / 32);
  margin-bottom: 24px;
}
.solutionText {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(22 / 16);
  margin-bottom: 24px;
}
.button {
  outline: none;
  border: 1px solid var(--secondary-text-color);
  background-color: var(--main-accent-color);
  color: var(--secondary-text-color);
  border-radius: 5px;
  width: 146px;
  height: 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(22 / 16);
}

@media screen and (min-width: 768px) {
  .section {
    width: 768px;
    display: flex;
  }
  .container {
    padding: 62px 32px 62px 32px;
    width: calc(100% / 2);
  }
  .wrapper {
    width: calc(100% / 2);
  }
}
@media screen and (min-width: 1360px) {
  .section {
    width: 1360px;
  }
  .container {
    padding: 80px 28px 86px 20px;
  }
  .solutionString {
    font-size: 18px;
    line-height: calc(25 / 18);
  }
  .solutionHeader {
    font-size: 40px;
    line-height: calc(54 / 40);
  }
  .solutionText {
    font-size: 18px;
    line-height: calc(25 / 18);
  }
}
